/* .container-grafico{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container-grafico-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.container-grafico-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */