.cadastro__clientes{
 grid-area: main;
 overflow-y: auto;
 display: grid;
 grid-template-columns: 1fr;   
 margin-bottom: 100px;
 margin-top: 20px;
 justify-items: center;

}

.title__pagina__cadastro{
    width: 70%;
}

.item__form__clientes{
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.input__cadastro__cliente > input{
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #F6C74D;
    margin-bottom: 30px;
}

.button__cadastro__cliente > button{
    width: 300px;
    height: 40px;
    background-color: #132C33;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    transition: 0.2s;
}

.button__cadastro__cliente > button:hover{
    cursor: pointer;
    background-color:#132c33d8;
    
}

